.formR li{
    color:red;

}
div.register_division li{
    display:none;
    list-style-type: none;
}

a{ color: inherit; 
    text-decoration: none;} 

#user_register{

    display: flex;
    flex-direction:row;
    justify-items: auto;
    align-items: center;
}

.register_main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    width: 1300px;
    height: 400px;
    height: auto;
    background-color:#232323;
    border-radius: 10px;

    margin: 10%;
    padding-top: 5%;
    padding-bottom: 8%;

}


div.register_logo img{
    padding-top: 100px ;
    width: 150px;
    height: 200px;
   
}

/*Tela Grande*/
@media (min-width: 1143px){

}


/*Tela Pequena*/
@media (max-width: 1144px){
    
}
