
div#configuracao{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        width: 700px;
        height: 400px;
        height: auto;
        background-color:#232323;
        

        border-radius: 5px;
        border: #ffffff;
        border-color: aliceblue;
        margin-left: 15%;
        margin-bottom: 5%;
        padding-bottom: 8%;
        
}
div#configuracao ul li{
    list-style-type: none;
}
form#img{
    margin-left: 100px;
}
div#configuracao img{
    margin-top: 5ex;
    margin-left: 8ex;
    border-radius: 50%;
    width: 15ex;
    height: 15ex;

}
div#configuracao input#id_Foto{

    background-color: #232323;
    color: #23232300;
}

div#li_conf{
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}