
div#configuracao{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        width: 700px;
        height: 400px;
        height: auto;
        background-color:#232323;
        border-radius: 10px;
        margin: 25%;
        padding-top: 5%;
        padding-bottom: 8%;
    
}
div#configuracao img{
    border-radius: 25%;
}
