{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block styles%}
    
    <script defer src="javascript.js"></script>
    <script defer src="{% static 'js/javascript.js' %}"></script>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static  'css/listas.css' %}" rel="stylesheet">
    <link href="{% static 'css/about_us.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel ="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
    <link href="{% static 'css/suport_site.css' %}" rel="stylesheet">
    <link href="{% static 'css/config.css' %}" rel="stylesheet">
    <link href="{% static 'css/geraraeleicaos.css' %}" rel="stylesheet">
    <link href="{% static 'css/Urnas.css' %}" rel="stylesheet">
    <link href="{% static 'css/paginacao.css' %}" rel="stylesheet">
    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    

        <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>


    
    
    
    {%endblock%}

</head>

{%if x == 1 %} <!--logado-->

<body>
    <div id="navbar_login">

        <div class="header_main">
        <div class="header_login">
            <div >
                <p>Seja bem vindo(a), {{usuario_logado.Nome}}<br><a href="http://localhost:8000/logout">Log Out</a></a>
            </div>

            <div>

            </div>
            
        </div>
        <main>
            {%block info1%}

            {%endblock%}
        </main>

        </div>
        <div class="only_navbar">
            <div id="list_pressed">

                    <div id="logo">
                        <li class="logo_press">

                            <p>SEV</p>
                            <img src="{% static 'img/corpo/logo_ifrn.png'%}"/>
                        </li>
                    </div>
                    <div id="More">

                    <ul>
                        <li class="More_head"><button id="Moore" ><a>More</a></button></li>
                        <li class="More"><a href="http://localhost:8000/home">Home</a><br>
                                        <a href="http://localhost:8000/lista_eleicoes">Lista de Eleições</a><br>
                                        <a href="http://localhost:8000/lista_eleicoes">Participando</a><br>
                                        <a href="http://localhost:8000/gerarumaeleicao">Gerar uma Eleição</a><br>
                                        <a href="http://localhost:8000/about_us">Sobre Nós</a><br>
                                        <a href="http://localhost:8000/configuração"> Configurações</a><br>
                                        <a href="http://localhost:8000/logout/">Log Out</a><br>
                                        </li>
                    </ul>
                    </li>
                    </div>
                


            </div>
            <div id="list_web">
            <section class="navbar_login">
                <ul>
                    <li class="list_login_logo">

                        <p id="list_login_logo">SEV</p>
                        <img src="{% static 'img/corpo/logo_ifrn.png'%}"/>
                    </li>
                    <li class="list_login">
                        <div>
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <path d="m13.9971 3.96598c-1.1743-.91464-2.8198-.91464-3.9941 0l-5.00008 3.89446c-.79061.61579-1.25292 1.56188-1.25292 2.56406v7.0453c0 1.795 1.45507 3.25 3.25 3.25h10c1.795 0 3.25-1.455 3.25-3.25v-7.0454c0-1.00208-.4623-1.94817-1.2529-2.56397zm-4.91587-1.18339c1.71627-1.33679 4.12137-1.33679 5.83757 0l5 3.89445c1.1556.90001 1.8312 2.28276 1.8312 3.74736v7.0454c0 2.6234-2.1266 4.75-4.75 4.75h-10c-2.62335 0-4.75-2.1266-4.75-4.75v-7.0453c0-1.4647.67569-2.84745 1.83119-3.74746z" ></path><path d="m8.00006 18c0-.4142.33579-.75.75-.75h6.50004c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-6.50004c-.41421 0-.75-.3358-.75-.75z" ></path>
                            </svg>
                        <a href="http://localhost:8000/home/">Home</a></div>
                    </li>
                    <li class="list_login"><a href="http://localhost:8000/lista_eleicoes">Lista de Eleições</a></li>
                    <li class="list_login"><a href="http://localhost:8000/lista_eleicoes">Participando</a></li>
                    <li class="list_login"><a href="http://localhost:8000/gerarumaeleicao">Gerar uma Eleição</a></li>
                    <a> <li class="list_login" ><a  href="http://localhost:8000/about_us" >Sobre Nós</a></li></a>

                    <br>
                    </ul>
                    
            </section>

            <section class="navbar_login" id ="navbar_login_users" >
                <ul>
                    <br>
                    <li class="list_login">
                        <a href="http://localhost:8000/configuração"> Configurações</a>
                    </li>
                    <li class="list_login"><a href=http://localhost:8000/logout>Log Out</a></li>
                    <br>

                    
                    </ul>
                    
            </section>

            <section class="navbar_login" id ="end_navbar_login">
                <ul>
                    <br>
                    <li class="list_login">
                        <!--<a href="http://localhost:8000/admin">Configurações</a></li>-->
                    <br>

                    
                    </ul>

            </section>
            </div>
        </div > 

            

    </div>  <!--end ID  #navbar_login-->





    <footer>
        <div class="info">
            <div> <p>PROJETO 2022/2023<br><br>
                2022 Projeto Integrador em  desenvolvimento,  efetuado por alunos<br>
                do IFRN campus Pau dos Ferros.</p><br>
            </div>
            <div class="info_link"> 
                <div>
                    <p>Suporte<br><br>
                        Reporte um erro de pagina.<br>
                        Informar um problema no sistema<br>
                        Informar um problema no site</p><br>
                </div>
                <div><br>
                    <a href="http://localhost:8000/suport_site">Clicando aqui.</a>
                </div><br>

                
                
                
            </div>
            <div> <p>INFORMAÇÕES TÉCNICAS<br><br>

                Servidor:Bololo - 30d3852xxxxx00xx<br>
                Última extração do SEVIF:21/10/2022<br>
                Última atualização do SEVIF:10/11/2022 22:56<br>
                Responsável:Alunos_Integrador/IFRN<br>
                Feito com Django</p>
            </div>
        </div>
    </footer>
    
    </div>

    <!-- JavaScript -->

</body>


{%else %}<!--offline-->

<body>
    
    <div id="navbar_login">

        <div class="header_main">
        <div class="header_login">
            <div >
                <p>Seja bem vindo(a), faça seu <a href="http://localhost:8000/login">login aqui.</a><br>Se não for cadastrado faça sua <a href="http://localhost:8000/http:/register">inscrição aqui.</a></a>
            </div>

            <div>
                <p><!--Buscar--></p>
            </div>
        </div>
        
        <main>
        {%block info%}
    
        {%endblock%}
        </main>
        


        </div>
        <div class="only_navbar">
            <div id="list_pressed">

                    <div id="logo">
                        <li class="logo_press">

                            <p>SEV</p>
                            <img src="{% static 'img/corpo/logo_ifrn.png'%}"/>
                        </li>
                    </div>
                    <div id="More">

                    <ul>
                        <li class="More_head"><button id="Moore" ><a>More</a></button></li>
                        <li class="More"><a href="http://localhost:8000/http://localhost:8000/home">Home</a><br>
                                        <a href="http://localhost:8000/lista_eleicoes">Lista de Eleições</a><br>
                                        <a href="http://localhost:8000/login">Participando</a><br>
                                        <a href="http://localhost:8000/gerarumaeleicao">Gerar uma Eleição</a><br>
                                        <a href="http://localhost:8000/about_us">Sobre Nós</a><br>
                                        <a href="http://localhost:8000/login">Log in</a><br>
                                        <a href="http://localhost:8000/register">Registers</a><br>
                                        <a>Admin Login</a><br>
                                        </li>
                    </ul>
                    </li>
                    </div>
                


            </div>
            <div id="list_web">
            <section class="navbar_login">
                <ul>
                    <li class="list_login_logo">

                        <p id="list_login_logo">SEV</p>
                        <img src="{% static 'img/corpo/logo_ifrn.png'%}"/>
                    </li>
                    <li class="list_login">
                        <div>
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <path d="m13.9971 3.96598c-1.1743-.91464-2.8198-.91464-3.9941 0l-5.00008 3.89446c-.79061.61579-1.25292 1.56188-1.25292 2.56406v7.0453c0 1.795 1.45507 3.25 3.25 3.25h10c1.795 0 3.25-1.455 3.25-3.25v-7.0454c0-1.00208-.4623-1.94817-1.2529-2.56397zm-4.91587-1.18339c1.71627-1.33679 4.12137-1.33679 5.83757 0l5 3.89445c1.1556.90001 1.8312 2.28276 1.8312 3.74736v7.0454c0 2.6234-2.1266 4.75-4.75 4.75h-10c-2.62335 0-4.75-2.1266-4.75-4.75v-7.0453c0-1.4647.67569-2.84745 1.83119-3.74746z" ></path><path d="m8.00006 18c0-.4142.33579-.75.75-.75h6.50004c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-6.50004c-.41421 0-.75-.3358-.75-.75z" ></path>
                            </svg>
                        <a href="http://localhost:8000/http://localhost:8000/home">Home</a></div>
                    </li>
                    <li class="list_login"><a href="http://localhost:8000/lista_eleicoes">Lista de Eleições</a></li>
                    <li class="list_login"><a href="http://localhost:8000/login">Participando</a></li>
                    <li class="list_login"><a href="http://localhost:8000/gerarumaeleicao">Gerar uma Eleição</a></li>
                    <a> <li class="list_login" ><a  href="http://localhost:8000/about_us" >Sobre Nós</a></li></a>

                    <br>
                    </ul>
                    
            </section>

            <section class="navbar_login" id ="navbar_login_users" >
                <ul>
                    <br>
                    <li class="list_login">
                        <a href="http://localhost:8000/login">Log in (Users)</a>
                    </li>
                    <li class="list_login"><a href="http://localhost:8000/register">Register</a></li>
                    <br>

                    
                    </ul>
                    
            </section>

            <section class="navbar_login" id ="end_navbar_login">
                <ul>
                    <br>
                    <li class="list_login">
                        <a href="http://localhost:8000/admin">Admin</a></li>
                    <br>

                    
                    </ul>

            </section>
            </div>
        </div > 

            

    </div>  <!--end ID  #navbar_login-->





    <footer>
        <div class="info">
            <div> <p>PROJETO 2022/2023<br><br>
                2022 Projeto Integrador em  desenvolvimento,  efetuado por alunos<br>
                do IFRN campus Pau dos Ferros.</p><br>
            </div>
            <div class="info_link"> 
                <div>
                    <p>Suporte<br><br>
                        Reporte um erro de pagina.<br>
                        Informar um problema no sistema<br>
                        Informar um problema no site</p><br>
                </div>
                <div>
                    <a href="http://localhost:8000/suport_site">Clicando aqui.</a>
                </div><br>

                
                
                
            </div>
            <div> <p>INFORMAÇÕES TÉCNICAS<br><br>

                Servidor:Bololo - 30d3852xxxxx00xx<br>
                Última extração do SEVIF:21/10/2022<br>
                Última atualização do SEVIF:10/11/2022 22:56<br>
                Responsável:Alunos_Integrador/IFRN<br>
                Feito com Django</p>
            </div>
        </div>
    </footer>
    
    </div>

    <!-- JavaScript -->

</body>


{%endif%}

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
        {% for information in messages %}
        alertify.set('notifier','position', 'top-right');
        alertify.success('{{information}}');
        {% endfor %}
</script>

</html>

    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <title>SEVIF</title>