{% extends 'corpo.html' %}
{%load static%}

{%block info1%}

{%block info%}

<div id="breadcrumb">
    <p>SEFIV/<a>About Us</a></p>
    </div>

    <div class="main_about_us">
        
        <div id="ambiente">
            <div id="ambiente_2">   
                    <div id="contatos">
                        <div>
                            <h1>Contatos</h1><br>

                            <p>(84) xxxx-xxxx</p><br>
                            <p>(84) xxxx-xxxx</p><br>
                            <p>wmltda@xxx.com</p><br>
                            <p>wmltda@xxx.br</p><br>
                            <p>@WM.LTDaxxx</p><br>

                        </div>
                        <div>   
                            <h1 id="Sr_Monter">||Im Sr.Monter||</h1><br>
                            <p>CNPJ: XXX.XXX.XXX./XXXX-XX</p><br>
                            <p>Pau dos Ferros - RN.</p><br>
                            <p>Rua: Raimundo-XXX-M.</p><br>
                            <p>Bairro: XXX Vista.</p><br>
                            <p>Número: S/Nº</p><br>
                        </div>
                    
                    <div id="img_1">
                        <img src="{% static 'img/about_us/mapa.png' %}" />
                    </div>
                </div>
            </div>
                
            <div id="img_2">
                <img src="{% static 'img/about_us/if_img.png' %}"/>
            </div>

            

        </div>

</div>



{%endblock%}
{%endblock%}