
{%extends 'corpo.html'%}

{% load static %}
<link href="{% static 'css/config.css' %" rel="stylesheet">
{%block info1%}

<div id="breadcrumb">
    <p href="../">SEFIV/<a href="">Configurações</a></p>
    </div>

<div id="configuracao"> 
    <form action="{% url 'config' %}" id="autoincrement" method="post" enctype="multipart/form-data" autocomplete="off">{%csrf_token%}

        <div>
            <img src='{{usuario_logado.Foto.url}}'>
    </div>
    <div>
        {%if usuario_logado.Genero == 'M'%}
            <h2>Seja Bem vindo {{usuario_logado.Nome}}</h2> 
        {%elif usuario_logado.Genero == 'F'%}
            <h2>Seja Bem vinda {{usuario_logado.Nome}}</h2> 
        {%endif%}
    </div>
    <div>
        
    </div>

    

    <ul>
        <li>
            
            <label>Id Acadêmico<br>
            <input style='align-items: center; color: aliceblue;'type="text" value= {{usuario_logado.Id_Academico}} disabled></label>
        </li>
        <li>
            <label>CPF<br>
            <input style='align-items: center; color: aliceblue;'type="text" value= {{cpf_usuario}} pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" disabled></label>
        </li>
        <li>
            <label>E-mail<br>
            <input style='align-items: center; color: aliceblue;'type="text" value= {{usuario_logado.email}} disabled></label>
        </li>
        <li>
            
            
        </li><br>
    </ul>
    
    
        
            <!--{{form}}-->

    <table>{{form.as_ul}}</table>
        
    <table><input type="submit" value="Salvar"></table><br>

    
    </form>
    <div id="li_conf">
        <div style='align-items: center; background-color:aliceblue; width: 14ex; border-radius:6px; margin-bottom: 5px;'>   
            <a href="../alterarpassword" style='align-items: center; color: rgb(0, 0, 0); padding-left: 5px;'>Editar Senha</a><br>
        </div>
    
        <div style='align-items: center; background-color: black; width: 14ex; border-radius: 5px; margin-bottom: 5px;'>
            <a href="../deletarconta" style='align-items: center; color: rgb(255, 0, 0); padding-left: 5px;'>Excluir Conta</a><br>
        </div>
    </div>



</div>
{%endblock%}
{%block info%}
<div style="margin:10%; display: flex; flex-direction:column; justify-content:center; align-items: center; flex-wrap: wrap;">
<h1 style="font-size: 50px;">PAGINA NÃO ENCONTRADA</h1>
<h3 style="font-size: 25px; ">Você precisa estar logado para acessar o conteúdo dessa pagina</h3>
<a style="font-size: 20px; color:brown;" href="../login">Clique aqui para voltar logar na sua conta</a>
</div>
{%endblock%}