
{%extends 'corpo.html'%}

{% load static %}
<link href="{% static 'css/config.css' %" rel="stylesheet">
{%block info1%}

<div id="breadcrumb">
    <p>SEFIV/<a>Configurações</a></p>
    </div>

<div id="configuracao"> 
    <div>
        <img scr="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"/>
        <h2>Nome Usuário</h2>
    </div>
    <div>
        <a>todos os dados</a>
    </div>


<table>

</table>

{%endblock%}
{%block info%}

<h1 style="font-size: 500px;">PAGINA NÃO ENCONTRADA</h1>

{%endblock%}