{% extends 'corpo.html' %}

{%load static%}

{%block info1%}
<div id="breadcrumb">
    <p href="../">SEFIV/<a href="">home</a>

    </div>

    <link href="home.css" rel="stylesheet">
    <div id="home">
    
        <div id="topo" class="corpo">
            <div>
                <img  src="{% static "img\home\01.bmp" %}">
            </div>
            <div class="txt"> 
                <p>Sistema eleitoral do Brasil refere-se ao conjunto de meios utilizados para escolha de representantes e governantes integrantes do Estado brasileiro. O atual sistema é definido pela Constituição de 1988 e pelo Código Eleitoral, além de ser regulado pelo Tribunal Superior Eleitoral no que lhe for delegado </p>
            </div>
        </div>
    
        <div id="lado1" class="corpo">
            <div>
                <img src="{% static "img\home\02.bmp" %}">
            </div>
            <div class="txt">
                
                <div>
                    <h3>Voto tem Branco?</h3>
                </div>
                <div>
                    <p>É importante que o eleitor tenha consciência de que, votando nulo, não obterá nenhum efeito diferente da desconsideração de seu voto. Isso mesmo: os votos nulos e brancos não entram no cômputo dos votos, servindo, quando muito, para fins de estatística. Do mesmo modo, o voto branco. Antigamente, quando o voto era marcado em cédulas e posteriormente contabilizado pela junta eleitoral, a informação sobre a possibilidade de o voto em branco ser remetido a outro candidato poderia fazer algum sentido. Isso porque, ao realizar a contabilização, eventualmente e em virtude de fraude, cédulas em branco poderiam ser preenchidas com o nome de outro candidato. Mas isso em virtude de fraude, não em decorrência do regular processo de apuração.</p>
                </div>
            
            
            
            </div>

            
        </div>
        <div id="lado2" class="corpo">
            <div>
                <img src="{% static "img\home\03.bmp" %}">
            </div>
            <div class="txt">
                <div>
                    <h3>Nossa Proposta</h3>
                </div>
                <div>
                <p>Sistema eleitoral do do Campus IFRN, </p>
                </div>
            </div>
        </div>
        <div id='foot' class="corpo">
            <p></p>
        </div>
    
    </div>
{%endblock%}

{%block info%}
<div id="breadcrumb">
    <p href="../">SEFIV/<a href="">home</a>

    </div>

    <link href="home.css" rel="stylesheet">
    <div id="home">
    
        <div id="topo" class="corpo">
            <div>
                <img  src="{% static "img\home\01.bmp" %}">
            </div>
            <div class="txt"> 
                <p>Sistema eleitoral do Brasil refere-se ao conjunto de meios utilizados para escolha de representantes e governantes integrantes do Estado brasileiro. O atual sistema é definido pela Constituição de 1988 e pelo Código Eleitoral, além de ser regulado pelo Tribunal Superior Eleitoral no que lhe for delegado </p>
            </div>
        </div>
    
        <div id="lado1" class="corpo">
            <div>
                <img src="{% static "img\home\02.bmp" %}">
            </div>
            <div class="txt">
                <p>É importante que o eleitor tenha consciência de que, votando nulo, não obterá nenhum efeito diferente da desconsideração de seu voto. Isso mesmo: os votos nulos e brancos não entram no cômputo dos votos, servindo, quando muito, para fins de estatística. Do mesmo modo, o voto branco. Antigamente, quando o voto era marcado em cédulas e posteriormente contabilizado pela junta eleitoral, a informação sobre a possibilidade de o voto em branco ser remetido a outro candidato poderia fazer algum sentido. Isso porque, ao realizar a contabilização, eventualmente e em virtude de fraude, cédulas em branco poderiam ser preenchidas com o nome de outro candidato. Mas isso em virtude de fraude, não em decorrência do regular processo de apuração.</p>
            </div>
        </div>
        <div id="lado2" class="corpo">
            <div>
                <img src="{% static "img\home\03.bmp" %}">
            </div>
            <div class="txt">
                    <div>
                            <h3>Voto tem Branco?</h3>
                    </div>
                    <div>
                    <p>Sistema eleitoral do Brasil refere-se ao conjunto de meios utilizados para escolha de representantes e governantes integrantes do Estado brasileiro. O atual sistema é definido pela Constituição de 1988 e pelo Código Eleitoral, além de ser regulado pelo Tribunal Superior Eleitoral no que lhe for delegado </p>
                    </div>
            </div>
        </div>
        <div id='foot' class="corpo">
            <p></p>
        </div>
    
    </div>
{%endblock%}