{% extends 'corpo.html' %}

{%load static%}

{%block info%}
<div id="breadcrumb">
    <p>SEFIV/<a>Home</a></p>
    </div>

<div id="home"></div>

    <div class="menu_container"> 
        <h1 class="lista1">Seja Bem vindo</h1>
        <div class="lista">
          
          <!--   Group 1 -->
          
          <div class="eleitoral_group" id="24h_group-1">

            <div class="media-element">
              <img
                src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                alt="">
            </div>
            <div class="media-element">
              <img
                src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                alt="">
            </div>
            <div class="media-element">
              <img
                src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                alt="">
            </div>


  
    </div>
  



{%endblock%}
{%block info1%}
<div id="breadcrumb">
    <p>SEFIV/<a>Home</a></p>
    </div>
    <div id="home"></div>

    <div class="menu_container"> 
        <h1 class="lista1">Seja Bem vindo</h1>
        <div class="lista">
          
          <!--   Group 1 -->
          
          <div class="eleitoral_group" id="24h_group-1">

            <div class="media-element">
              <img
                src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                alt="">
            </div>
            <div class="media-element">
              <img
                src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                alt="">
            </div>
            <div class="media-element">
              <img
                src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                alt="">
            </div>


  
    </div>

{%endblock%}