{% extends 'corpo.html' %}
{%load static%}
{%block info%}
<div id="breadcrumb">
    <p>SEFIV/<a>Login</a></p>
    </div>

<div id="login">
    <div class="login_main">
        <div class ='login_logo'>
            <h2>SEVIF</h2>
            
            <h1>SISTEMA ELEITORAL & VOTAÇÃO DO IFRN</h1>

            <img src="{% static 'img/login/logo.svg'%}"/>

        </div>
        <div class ='login_division'>
            <h1>Bem vinda(o) usuária(o)</h1>
            <h2>Faça seu login aqui em baixo</h2>
            <div class="login_user_info">
                <form action="{% url 'login' %}" id="img" method="post" autocomplete="off">{%csrf_token%}
                    
                    {{form.Id_Academico.label}}<br>
                    {{form.Id_Academico}}<br>
                    {{form.Senha.label}}<br>
                    {{form.Senha}}<br>
                <div class="login_user_buttons">
                    <div><table><input type="submit" value="Log In"></table><br>
                    <div><p>Não se cadastrou?</p><a href="../register">Cadastrar</a></div>
                </div>
            </div>
            </form>
            

            <div class="login_user_acess">
                <a class="hover">clique aqui</a> para acessar pela conta do SUAP</a><br><br>
                <a class="hover">clique aqui</a> para acessar pela conta do GOOGLE</a>
            </div>

        </div>

    </div>
</div>
{%endblock%}


{%block info1%}
<div id="breadcrumb">
    <p>SEFIV/<a>Login</a></p>
    </div>

    <div id="login">
        <div class="login_main">
            <div class ='login_logo'>
                <h2>SEVIF</h2>
                
                <h1>SISTEMA ELEITORAL & VOTAÇÃO DO IFRN</h1>
    
                <img src="{% static 'img/login/logo.svg'%}"/>
    
            </div>
            <div class ='login_division'>
                <h1>Bem vinda(o) usuária(o)</h1>
                <h2>Faça seu login aqui em baixo</h2>
                <div class="login_user_info">
                    <form action="{% url 'login' %}" id="img" method="post" autocomplete="off">{%csrf_token%}
                        
                        {{form.Id_Academico.label}}<br>
                        {{form.Id_Academico}}<br>
                        {{form.Senha.label}}<br>
                        {{form.Senha}}<br>
                    <div class="login_user_buttons">
                        <div><table><input type="submit" value="Log In"></table><br>
                        <div><p>Não se cadastrou?</p><a href="../register">Cadastrar</a></div>
                    </div>
                </div>
                </form>
                
    
                <div class="login_user_acess">
                    <a class="hover">clique aqui</a> para acessar pela conta do SUAP</a><br><br>
                    <a class="hover">clique aqui</a> para acessar pela conta do GOOGLE</a>
                </div>
    
            </div>
    
        </div>
    </div>
{%endblock%}